@page "/"

<PageTitle>ZBD</PageTitle>

<h1>Witaj!</h1>

Oto strona startowa aplikacji do zarządzania danymi z gry "League of Legends" stworzonej na potrzeby projektu ZBD.
<br />
<br />

Autorzy:
<ul>
	<li>Adam Kopiec 148198</li>
	<li>Mikołaj Krakowiak 148076</li>
</ul>
