@page "/login"
@using ZBD.Authentication
@using ZBD.Models;
@using ZBD.Services
@inject IJSRuntime js
@inject IDaneLogowaniaService daneLogowaniaService
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <EditForm Model="@login_details" OnValidSubmit="Authenticate">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3 text-center">
                <h3>LOGIN</h3>
            </div>
            <div class="mb-3">
                <label>Nazwa użytkownika</label>
                <InputText @bind-Value="login_details.UserName" class="form-control" placeholder="Nazwa użytkownika" />
            </div>
            <div class="mb-3">
                <label>Hasło</label>
                <InputText @bind-Value="login_details.Password" type="password" class="form-control" placeholder="Hasło" />
            </div>
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Zaloguj</button>&nbsp;
            </div>
        </EditForm>
        <div class="mb-3 d-grid gap-2">
            <button @onclick="Register" class="btn btn-secondary">Utwórz nowe konto</button>
        </div>
    </div>
</div>

@code {

    private LoginDetails login_details = new LoginDetails();

    private async Task Authenticate()
    {
        DaneLogowania? userAccount = daneLogowaniaService.GetUserByName(login_details.UserName);
        if (userAccount == null || userAccount.Haslo != login_details.Password)
        {
            await js.InvokeVoidAsync("alert", "Podano niepoprawną nazwę użytkownika lub hasło");
            return;
        }

        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(new UserSession
            {
                UserName = userAccount.Nick,
                Role = userAccount.Rola
            });
        navManager.NavigateTo("/gracze/" + userAccount.Nick, true);

    }

    private async Task Register()
    {
        navManager.NavigateTo("/register");
    }
}
